.ExpHeader{
  display: block;
  flex: 1;
  border: 2px solid green;
  margin: 15px;
  width: 450px;
  overflow: auto;
}
.ExperimentGenerator{
  display: inline-block;
  border: 2px solid green;
}
.Item{
  font-family: 'Poppins';
  display:inline-block;
  padding: 20px 25px;
  margin: auto;
  font-family: inherit;
  border: 1px solid black;
  font-size: 24px;
  text-align: center; /* Center the text horizontally */
  flex: 1;
  box-sizing: border-box;
}
.ItemRow{
  display: block;
  margin-left: 11.3%;
}
.ExpScreen{
  border: 2px solid blue;
  width: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: auto;
}
.ExpExpectedValue,
.ExpVariance{
  border: 2px solid blue;
  display: block;
  overflow: auto;
  margin-bottom: 10px;
  overflow: auto;
}
.ExpMainBody{
  flex:1;
}
.ExpSideBody{
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
}
.ExpBody{
  display: flex;
  position:relative;
}
