.ExpHeader{
  display: block;
  border: 2px solid green;
  margin: 15px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.Item{
  font-family: 'Poppins';
  display:inline-block;
  padding: 20px 25px;
  margin: auto;
  font-family: inherit;
  border: 1px solid black;
  font-size: 24px;
  text-align: center; /* Center the text horizontally */
  flex: 1;
  box-sizing: border-box;
}
.ResultRow{
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid rgb(6, 9, 1);
}
.ResultRowContent{
  width: 70%;
  padding: 20px 25px;
  font-family: inherit;
  text-align: center; /* Center the text horizontally */
}
.ItemRow{
  display: block;
  margin-left: 50px;
}
.ExpScreen{
  display: flex;
}
.ExpContent{
  border: 2px solid rgb(85, 6, 124);
  background-color: #f0f0f0;
  width: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: auto;
  background-color: '#f0f0f0'; 
  padding: '20px';
  border-radius: '5px'; 
  box-shadow: '0px 0px 5px 0px rgba(0,0,0,0.3)' 
}
.ExpResult{
  background-color: #f0f0f0;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 5px;
  border-right: 2px solid #976a0a76;
  border-top: 2px solid #976a0a76;
  border-bottom: 2px solid #976a0a76;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.ExpExpectedValue,
.ExpVariance{
  border: 2px solid rgb(93, 152, 219);
  display: block;
  overflow: auto;
  margin-bottom: 10px;
  overflow: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.ExpVisualization{
  margin-left: 10%;
}
.ExpMainBody{
  flex:1;
  border: 1px solid black;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.ExpSideBody{
  width: 400px;
  margin-left: 20px;
  margin-right: 15px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}
.ExpBody{
  display: flex;
  position:relative;
  margin-bottom: 20px;
}
/* ExpGenerator.css */

.ExpGenerator {
  font-family: Arial;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.ExpGenerator form {
  display: flex;
  flex-direction: column;
}

.ExpGenerator label {
  font-weight: bold;
}

.ExpGenerator textarea,
.ExpGenerator input,
.ExpGenerator select {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.GenerateButton {
  background-color: rgb(69, 77, 220);
  padding: 8px;
  font-family: Arial;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px; 
}

.ExpGenerator button {
  width: 100%;
  padding: 8px;
  background-color: #007bff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}